.login-page--main-section {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  position: fixed;
  align-items: center;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.login-form {
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.login-form--submit-div {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-form--signup-link,
.login-form--signup-link:hover {
  margin: 0 3px;
  color: #d65050;
}

.login-form--input {
  height: 40px;
}
