:root {
  --primary-color: #d65050;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

#root {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", serif;
}

.container {
  min-height: calc(100vh - (184px + 70px))
}