.posts--button-white {
  width: 100%;
  background: rgba(250, 250, 250, .8);
  margin-bottom: 25px;
  border: 1px solid rgba(144, 144, 144, .7);
  padding: 20px 0;
  border-radius: 3px;
  font-size: 22px;
  cursor: pointer;
  outline: none;
  color: #848484;
  letter-spacing: 1px;
  font-weight: bold;
  box-shadow: 1px 2px 2px -1px #afafaf;
  text-transform: capitalize;
}

.posts--button-white:hover {
  text-decoration: underline;
}

.posts--form-icon {
  color: #D65050;
  font-size: 28px;
  padding-right: 13px;
}