.create-profile--header {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.ant-steps-item-process .ant-steps-item-icon {
  background: var(--primary-color, pink);
  border-color: var(--primary-color, pink);
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: #333;
}

.ant-steps-item-finish>.ant-steps-item-tail::after {
  background: var(--primary-color, pink)
}

.ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
  color: #333;
}
